body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    background-color: #C8A2C8;
    
}

footer{
    background-color:#6A0DAD;
    margin-top: 100px;
    padding-bottom: 30px;
}

footer p{
    color: white;
}



.TopodaPagina{
    
    background-color: #6A0DAD;
    display: flex;
    justify-content: center;
    gap: 250px;
    color: wheat;

}

.icones-esq {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
    gap: 220px;
}

.icones-esq a {
    color: wheat;
}

.PerfilHeader{
    
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

}

.PortifolioHeader{
    
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

}


.PrimeiroProjeto{
    
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;

}

.TextoPrimeiroProjeto{
    
    max-width: 860px;
    max-height: auto;
    background-color: #6A0DAD;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    padding: 10px;
    justify-items: center;
    

}

.TextoPrimeiroProjeto h2{
    color: wheat;
    font-size: 25px;
}

.TextoPrimeiroProjeto p{
    color: white;
}


.FerramentasUtilizadas{
    margin-top: 40px;
}

.AcessoGit{
   
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
   

}

.AcessoGit a {
    display: flex;
    gap: 5px;
    align-items: center; 
    color: wheat;
}

.SegundoProjeto{
    
    
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

.TextoSegundoProjeto{
    
    margin-top: 50px;
    max-width: 860px;
    max-height: 880px;
    background-color: #6A0DAD;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    padding: 10px;
    justify-items: center;

}

.TextoSegundoProjeto h2{
    color: wheat;
    font-size: 25px;
}

.TextoSegundoProjeto p{
    color: white;
}

.ImagemSegundoTexto{
    margin-top: 50px;
}

.LinhaRodape{
    
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
    
}

.ImagemRodape{
    
    margin-top: 20px;
    margin-left: 10px;
    
}

.TextosRodape p{
    margin: 0px;
}


.TextosRodape h3{
    
    font-size: 40px;
    color: wheat;
    margin: 0px;
    margin-top: 20px;

}

 .DadosRodapes{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    margin-top: 35px;

 }

.Telefone, .Gmail {
    display: flex;
    align-items: center; 
    gap: 10px; 
}